{% extends 'base.html' %}

{% block content %}
    {% for i in employee %}
        <p>{{ i.name }}</p>
        <p>{{ i.description }}</p>

        <form action="{% url 'update' i.id %}" method="GET">
            <button type="submit">Edit</button>
          </form>

        <form action = "{% url 'delete' i.id%}" method="POST">
            {% csrf_token %}
        <button type="submit">Delete</button>
        </form>
    {% endfor %}
    <a href="{% url 'create' %}">Create New Todo</a>

{% endblock %}
